<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org"> 
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>汽車零配件、周邊商品</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="~{layout/header :: header}"></div>

<section id="products" class="section section-light">

    <div class="container">

        <!-- Product 標題 -->
        <div class="section-heading">

            <p class="section-label">
                Product商品
            </p>

            <h2>
                精選產品
            </h2>

            <p>
                提供多元汽車相關產品、配件與用品。
            </p>

        </div>

        <div th:each="category : ${productsByCategory}">
            產品分類：<h2 th:text="${category.key}"></h2>
            <!-- 這個分類底下的商品 -->
                <div class="product-card" th:each="product : ${category.value}">
                    品名：<h3 class="product-card h3" th:text="${product.name}"></h3>

                <p>
                    庫存：
                    <span th:text="${product.stock}"></span>
                </p>
                <p>
                    商品介紹：
                    <span th:text="${product.description}"></span>
                </p>
                </div>
        </div>

    </div>

    </body>

    <footer>
        <div th:replace="~{layout/footer :: footer}"></div>
    </footer>

</section>